<h1> Edit a cat </h1>

<%= render 'form', action: :edit, cat: @cat %>

<!-- <form action='create' method='post'>
  <input type="hidden" name="_method" value="PATCH">

  <label for="birth_date">Birthday</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled> -- Please Select -- </option>
    <% COLORS.each do |color| %>
      <% if color == cat.color %>
        <option selected value= '<%= color %>' > <%= color %> </option>
      <% else %>
        <option value= '<%= color %>' > <%= color %> </option>
    <% end %>
  </select>

  <label for="name">Name</label>
  <input id="birth_date" type="text" name="cat[name]" value="<%= cat.name %>">

  <label for="sex">Sex</label>
  <% if cat.sex == "M" %>
    <input type="radio" name="cat[sex]" value="<%= cat.sex %>", checked="checked">M<br>
    <input type="radio" name="cat[sex]" value="<%= cat.sex %>">F<br>
  <% else %>
    <input type="radio" name="cat[sex]" value="<%= cat.sex %>">M<br>
    <input type="radio" name="cat[sex]" value="<%= cat.sex %>", checked="checked">F<br>
  <% end %>

  <label for="description">Description</label>
  <textarea><%= cat.description %></textarea>

  <input type="submit" value="Let's make a cat, shall we?">
</form> -->
